/* Style for the header */
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
	font-size: 32px;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

header nav ul li {
	margin-right: 20px;
}

header nav ul li:last-child {
	margin-right: 0;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

/* Style for the main content */
main {
	padding: 40px;
}

main h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

main ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

main ul li {
	margin-bottom: 10px;
}

main ul li a {
	color: #333;
	text-decoration: none;
	font-size: 20px;
}

/* Style for the footer */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
